
.รางวัลชนะเลิศ
{
    border: 5px solid grey;
    border-radius: 50px;
}

.วันไหว้ครู
{
    border: 5px solid grey;
    border-radius: 50px;
}


.ประธานชมรมวิชาชีพช่างเทคนิคคอมพิวเตอร์
{
    border: 5px solid grey;
    border-radius: 50px;
}